// index css

//$변수명 - 변수 선언 가능
$txt_color:#fff;
$bg_color : background-color; //보간법 사용해서 쓰기 #{$bg_color}
$font_size : 18px; 


* {
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box
}


h1 {
    // 1. !global은 지역변수를 전역 변수로 설정한다.
    // $txt_color: blue !global; 

    // 2. !default는 값이 할당되어 있으면, 기존 할당 값을 사용
    $txt_color: blue !default;
    color: $txt_color;
    

    /*$my_size : 18px; //지역변수 설정
    font-size: $my_size; */

    $font_size : 20px !default; //!default시, 초기 설정값을 사용한다는 뜻
    font-size: $font_size;
    
}

div.bg {
    #{$bg_color}: pink; 
      p {
          color: $txt_color;
          font-size: $font_size;
        //   font-size: $my_size; //에러 발생
      }
}

#wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: $txt_color;
    // font-size: 0;

    // font-size: 16px (body 기본 사이즈)
    div:nth-child(2) {#{$bg_color} : pink; font-size: 20px}
    div:nth-child(3) {#{$bg_color} : purple;font-size: 30px}
}

div:not(#wrap, .bg) {
    // width: 33.33%;
    width: calc(100%/3);
    #{$bg_color} : blue;
    height: 300px;
    text-align: center;
    padding: 100px 0;
    float: left;

    // display: inline-block;
    // font-size: 14px
}


