// index css

//$변수명 - 변수 선언 가능
$txt_color:#fff;
$bg_color : background-color; //보간법 사용해서 쓰기 #{$bg_color}
$font_size : 18px; 
$name : "main";
$my_border :  1px solid #ddd;


* {
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box
}


h1 {
    // 1. !global은 지역변수를 전역 변수로 설정한다.
    // $txt_color: blue !global; 

    // 2. !default는 값이 할당되어 있으면, 기존 할당 값을 사용
    $txt_color: blue !default;
    color: $txt_color;
    

    /*$my_size : 18px; //지역변수 설정
    font-size: $my_size; */

    $font_size : 20px !default; //!default시, 초기 설정값을 사용한다는 뜻
    font-size: $font_size;
    
}

// $txt_color: yellow; 재할당시 이전 값은 변화 x, 재할당 후 값만 변화
div.bg {
    #{$bg_color}: pink; 
    background-image: url("/images/#{$name}.jpg");

      p {
          color: $txt_color;
          font-size: $font-size; //$font_size와 $font-size는 동일하게 취급(-과 _을 같게 본다)
        //   font-size: $my_size; //에러 발생
      }
}

#wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: $txt_color;
    // font-size: 0;

    // font-size: 16px (body 기본 사이즈)
    div:nth-child(2) {#{$bg_color} : pink; font-size: 20px}
    div:nth-child(3) {#{$bg_color} : purple;font-size: 30px}
}

div:not(#wrap, .bg, .card, .card__content, .card__contetn--link) {
    // width: 33.33%;
    width: calc(100%/3);
    #{$bg_color} : blue;
    height: 300px;
    text-align: center;
    padding: 100px 0;
    float: left;

    // display: inline-block;
    // font-size: 14px
}


//중첩 {}대괄호 안에 중첩하고 싶은 자식 선택자를 넣어 사용한다.

// ul{
//     li {
//         #{$bg_color} : black;
//         border: $my_border;
//         a {
//             display: block;
//             color: $txt_color;
//             p {
//                 font-size: $font_size;
//             }
//         }
//     }
// }

//속성을 중첩하여 사용할수도 있다.


ul {
    li {
        #{$bg_color}: black;
        border: $my_border;

        //&을 사용하면 상위 부모 선택자를 참조해 치환할 수 있다.
        &:first-child {
            #{$bg_color}: pink;
        }
        &:nth-child(2) {
            #{$bg_color}: green;
        }

        //@at-root는 중첩을 사용하다, 독립된 선택자 사용하고 싶을 때 사용
        @at-root .box {
            width: 100px;
            height: 100px;
            #{$bg_color}: rgb(44, 160, 104);
            display: inline-block;
        }

        a {
            display: block;
            color: $txt_color;

            p {
                font: {
                    family: Helvetica, sans-serif;
                    size: 18px;
                    weight: bold;
                }
            }
        }
    }
}


// & 부모 선택자 참조 치환 응용
.fs {
    &-small {
        font-size: 12px;
    }

    &-medium {
        font-size: 14px;
    }

    &-large {
        font-size: 16px;
    }
}



 /* BEM 사용하기 */
.card {   /* Block */
  background-color: #fff;
  border: 1px solid #007bff;
  border-radius: 5px;
  &__content {   /* Element */
    padding: 10px;
    &--link {    /* Modifier */
      color: #007bff;
      text-decoration: none;
      &:hover {
        text-decoration: underline
      }
    }
  }
}   
